
# Playwright
node_modules/
/.github/workflows/playwright1.yml
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
testData/
.env
playwright2.config.ts
allure-results/
allure-report/
junit-results.xml